In [0]:
import pandas as pd

df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [0]:
df['temperature'].max()
df['windspeed'].mean()

4.666666666666667

In [0]:
df['day'] == 'Rain'

0    False
1    False
2    False
3    False
4    False
5    False
Name: day, dtype: bool

In [0]:
df.shape
df.head(2)
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [0]:
df[2:5]
df[:1]

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [0]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [0]:
df.day
#df.temperature
#df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [0]:
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [0]:
df['temperature'].min()
df['temperature'].max()
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [0]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [0]:
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [0]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 2.5MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [0]:
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [0]:
!pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/08/8a/509eb6f58672288da9a5884e1cc7e90819bc8dbef501161c4b40a6a4e46b/openpyxl-2.5.12.tar.gz (173kB)
    100% |████████████████████████████████| 174kB 3.8MB/s
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl ... - \ | done
  Stored in directory: /root/.cache/pip/wheels/95/b0/38/e5d13093b588f87177df648c06d07d4b7221f2c17d544cde4c
  Running setup.py bdist_wheel for et-xmlfile ... - done
  Stored in directory: /root/.cache/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.5.12

In [0]:
df.to_excel('new.xlsx', sheet='weather.xls')

AttributeError: ignored

In [0]:
df = pd.read_csv('weather_data_cities.csv')
df.head(3)

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow

In [0]:
g = df.groupby('city')
g

In [0]:
for city, city_df in g:
  #print('******'+ city )
  print(city_df)

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [0]:
g.get_group('mumbai').describe()

       temperature  windspeed
count     4.000000   4.000000
mean     88.500000   9.250000
std       3.109126   5.057997
min      85.000000   5.000000
25%      86.500000   5.000000
50%      88.500000   8.500000
75%      90.500000  12.750000
max      92.000000  15.000000

In [0]:
g.max()
g.mean()
g.describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [0]:
india_weather = pd.DataFrame({
    'cities':['mum', 'del', 'sou'],
    'temp' : [20,30,40]
})

us_weather = pd.DataFrame({
    'cities':['by', 'dl', 'us'],
    'temp' : [20,30,40]
})
us_weather

pd.concat([india_weather, us_weather])

  cities  temp
0    mum    20
1    del    30
2    sou    40
0     by    20
1     dl    30
2     us    40

In [0]:
pd.concat([india_weather, us_weather], ignore_index='True')
pd.concat([india_weather, us_weather], axis=1)

  cities  temp cities  temp
0    mum    20     by    20
1    del    30     dl    30
2    sou    40     us    40

In [0]:
pd.DataFrame({
    'city' : ['te', 're'],
    'temp' : [1,2 ] 
})

pd.merge()

  city  temp
0   te     1
1   re     2

In [0]:
a = pd.DataFrame([10,11,12], index=[3,4,5])
a

    0
3  10
4  11
5  12

In [0]:
a.loc[3]
a.iloc[1]

0    11
Name: 4, dtype: int64