In [ ]:
#Chapter 2.3
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
print("\n Number of keywords are :",len(keyword.kwlist))

In [ ]:
#Chapter 2.4

# comments are either this or

'''
Comments can also be 
on the multiline
'''

In [ ]:
#indentation
for i in range(10):
  print (i)
  print (i*2)
print (100)  # not in the for loop

In [ ]:
#multi line statement either with \ or with "()"

a = 1+2+3 +\
4+5+6 + \
7+8+9

a = (1+2+3+
     4+5+6+
     7+8+9)


print(a)

In [ ]:
# multiple statement in single line
a = 10 ; b=11; c = 13

In [ ]:
#Chapter 2.5 - Variables and data types

a = 10 #integer
b = 5.5 #float
c = "ML" #string

#or another way of writing is
a, b, c = 10, 5.5, "ML"

In [ ]:
#Storage location

In [ ]:
x = 3
print(id(x))

In [ ]:
y = 3
print(id(y))

In [ ]:
a = 3
print (type(a))

In [ ]:
a = 5.5
print(type(a))

In [ ]:
a = 1+2j
print(type(a))
print(isinstance(a, complex)) #check the instance if it is complex then prints out as True

In [ ]:
a = True
print(type(a))

In [ ]:
a = "This is our AI course" # can also be single quote char
print(type(a))

In [ ]:
a = """AIIC course
    this is our multiple line"""
print(a)
print(type(a))

In [ ]:
#print(a[3]) #prints c
print(a[-1]) #prints the last char i.e. e and from there -1, -2, etc etc

In [ ]:
#print everything from 5 onwards
print(a[5:])

In [ ]:
# print from 5 to 9th and not till 10th
print(a[5:10])

In [ ]:
#python list

a = [10, 2.5, "AI"]
print(a[1])

In [ ]:
#lists are mutable
a[1] = 30.1
print(a)
print(type(a))

In [ ]:
#tuples
z = (10, 1.5, "ML")
print(z[2])
print(z)
print(type(z))

In [ ]:
y = {10, 17, 2, 3}
print(y)
print(type(y))

In [ ]:
#set storing only unique values
w = {1,1,2,3,4,5,6,7,7,7,7}
print(w)

In [ ]:
#dictionary
d = {'a':"apple", 'b':"bat", '1': "20"}
print(d)
print(type(d))
print(d['1'])
print(d['a'])

In [ ]:
float(5)

In [ ]:
int(100.5)

In [ ]:
str(100)

In [ ]:
#conversion

s = [1,2,3]
print(type(s))

a = set(s)
print(type(a))

#conversion from sting to list
f = "hello"
print(type(f))
print(f)
print(type(f))
f = list(f)
print(f)

In [ ]:
#python input and output

print("hello world")

In [ ]:
a = 10
print ("value of a in int is", a)
print ("value of a in str is" + str(a))

In [ ]:
b = 20; c= 45
print("The value of b is {} and the value of c is {}".format(b,c))
print("the new values of a is {2} b is {1} and c is {0}".format(a,b,c)) #change the values by changing the arguments

In [ ]:
print("hello good morning {0}, welcome to {1} course".format('rakesh', 'AI'))
print("hello good morning {name}, welcome to {course} course".format(name='rakesh', course='AI'))

In [ ]:
num = input("Enter a number")
print(num)

In [ ]:
#Operators

In [ ]:
x,y = 10,20
print(x+y)
print(x-y)
print(x*y)

In [ ]:
#modulo
print(15%2)
#floor
print (15//2) 
print(-15//2)
print(15/-2) #need to check this

In [ ]:
a,b = 10, 20
print(a<b)

In [ ]:
a, b = True, False
print(a and b)
print(a or b)

In [ ]:
#binary
a, b = 10, 4
print (a & b)
print (a | b)

In [ ]:
a += 10
print(a)

In [ ]:
a = 5
b = 5
print(a is b)

q1 = [1,2,3]
w1 = [1,2,3]
print(q1 is w1)

e1 = "AAIC"
r1 = "AAIC"
print(e1 is r1)

In [ ]:
t = [1,2,3,4,5, "st"]
print ("st" in t)
print (6 in t)

In [ ]:
y = {a : "data1", b : "beta1"}
print (a in y)
print ("data" in y) #can only check for keys and not for values

In [ ]:
# control flow

a = 15
if (a > 10):
  print ("zzzz")
print("Always print")

In [ ]:
y = 20

if (y > 25):
  print("This")
else:
  print ("That")

In [ ]:
nuke = 10
if (nuke > 0):
  print("+ve number")
elif (nuke == 0):
  print("zero")
else:
  print("-ve number")

In [ ]:
#while loop

lst = [10,20,30,40,50]
product = 1
index = 0

while index < len(lst):
  print("product is {}".format(product))
  print ("index is {}".format(index))
  product = product * lst[index]
  index +=1
  
print("final product is {}".format(product))

In [ ]:
#if the given number is prime or no

number_input = int(input("Enter a number"))

index = 2

while index < number_input:
  if(number_input % index) :
    print("The number {} is divisble by {}".format())

In [ ]:
for i in range(10):
  print(i)

In [ ]:
# tuple unpacking

In [ ]:
library = [{"Author", "topic", "pages"},
           {'Twain', "Rafting in Water alone", 600},
           {'Feynman', "Physics", 95},
           {"Einstein", "e=mc2", 200 }
           ]

In [ ]:
print(library)

In [4]:
%%writefile test.txt
This is a test file and this file contains all info
This is the second file

Writing test.txt

In [7]:
file = open("test.txt")

In [8]:
file.read()

'This is a test file and this file contains all info\nThis is the second file \n'

In [9]:
# now the file pointer is at the end
file.seek(0) # will take it back to the begining of the file

0

In [10]:
content = file.read()

In [11]:
print(content)

This is a test file and this file contains all info
This is the second file

In [17]:
file.seek(0)

0

In [18]:
# converted to list
file.readlines()

['This is a test file and this file contains all info\n',
 'This is the second file \n']

In [33]:
file.seek(0)

0

In [36]:
lines = file.readlines()

In [37]:
for line in lines:
    print(line[0])

T

In [38]:
# to close the file
file.close()